* {
    color: rgb(230, 230, 230)
}

body{
    /*background-color: rgb(36, 36, 36);*/
    background-image: radial-gradient(rgb(0, 0, 0) 70%, #0075b9 200%);
    height: 929px;
}

header{
    background-color: rgb(20, 20, 20);
    height: 50px;
    width: 100%;
    top: 0;
}

header > ul {
    padding-top: 12px;
}

header>ul>li{
    float: left;
    width: 70px;
}

main {
    background-color: black;
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 20px;
}

footer{
    background-color: rgb(20, 20, 20);
    height: 50px;
    width: 100%;
    bottom: 0;
}

footer>p{
    text-align: center;
    font-size: 30px;
}

input {
    background-color: #0075b9;
    border-color: #2c2c2c;
}

button {
    background-color: #0075b9;
    border-color: #2c2c2c;
}

mark{
    background-color:rgba(0,117,185, 0.5);
    border-radius: 5px;
}

td{
    border: 1px solid rgb(212, 212, 212);
    height: 50px;
    width: 50px;
    background-color: #242424;
    text-align: center;
}

canvas{
    background-color: #0c0c0c;
}